<!DOCTYPE html>
<html>
   <head>
      <!-- Basic -->
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <!-- Mobile Metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
      <!-- Site Metas -->
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <meta name="author" content="" />
      <link rel="shortcut icon" href="static/images/favicon.png" type="">
      <title> Nova Clinic</title>
      <!-- bootstrap core css -->
      <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />
      <!-- fonts style -->
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
      <!-- font awesome style -->
      <link href="static/css/font-awesome.min.css" rel="stylesheet" />
      <!-- Custom styles for this template -->
      <link href="/static/css/style_admin.css" rel="stylesheet" />
      <!-- <link href="/static/css/bs-datepicker.css" rel="stylesheet" /> -->
      <link rel="shortcut icon" href="static/images/favicon.png" type="">
      <!-- AJAX -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   </head>
   <body>
      <header class="header_section">
         <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
               <div class="container-fluid">
                  <a class="navbar-brand">
                  <span>
                  Nova Clinic
                  </span>
                  </a>
                  <div class="d-flex">
                     <div class="d-flex flex-column bd-highlight mb-3">
                        <div class="p-2 bd-highlight" style="text-align: right;">
                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                           <span class="navbar-toggler-icon"></span>
                           </button>
                        </div>
                        <div class="p-2 bd-highlight">
                           <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                              <ul class="navbar-nav mr-auto">
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Doctors
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                       <button type="button" 
                                          class="btn dropdown-item" 
                                          data-toggle="modal"
                                          data-target="#addDoc-modal">
                                       Add Doctor
                                       </button>
                                       <button type="button" 
                                          class="btn dropdown-item" 
                                          data-toggle="modal"
                                          data-target="#updateDoc-modal">
                                       Update Doctor
                                       </button>
                                       <button type="button" 
                                          class="btn dropdown-item" 
                                          data-toggle="modal"
                                          data-target="#deleteDoc-modal">
                                       Delete Doctor
                                       </button>
                                    </div>
                                 </li>
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Receptionists
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                       <button type="button" 
                                          class="btn dropdown-item" 
                                          data-toggle="modal"
                                          data-target="#addRecep-modal">
                                       Add Receptionist
                                       </button>
                                       <button type="button" 
                                          class="btn dropdown-item" 
                                          data-toggle="modal"
                                          data-target="#deleteRecep-modal">
                                       Delete Receptionist
                                       </button>
                                    </div>
                                 </li>
                                 <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Account
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                       <h6 class='dropdown-item' style="pointer-events: none;"><i><small>Signed in as</i></small><br><b>{{Fname}} {{Lname}}</b></h6>
                                       <div class="dropdown-divider"></div>
                                       <button type="button" 
                                          class="btn dropdown-item" 
                                          data-toggle="modal"
                                          data-target="#pwd-modal">
                                       Change Password
                                       </button>
                                       <a class="dropdown-item" href="logout">Logout</a>
                                    </div>
                                 </li>
                              </ul>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
            </nav>
            </div>
      </header>
      <!-- end header section -->
      <!-- Testing -->
      <div class="list-container">
      <div class="d-flex flex-row bd-highlight mb-3" style="justify-content: space-between; height: 100%;">
      <div class="p-2 bd-highlight" style=" width: 40%; height: 100%;;">
      <h4 style="text-align: center; color: black; background-color: white; border-radius: 10px;">Doctors</h4>
      <div class="table-responsive" style="max-height: 90%; background-color: white; border: 1px solid black;  border-radius: 10px;">
         <table class="table table-borderless">
            <thead style="position: sticky; top: 0; background-color:#ffff;">
               <tr>
               <th scope="col" style="background-color:#62d2a241;">Doctor ID</th>
               <th scope="col" style="background-color:#62d2a241;">Name</th>
               <th scope="col" style="background-color:#62d2a241;">Specialization</th>
               </tr>
            </thead>
            <tbody>
               {%for a_tuple in docids%}
               <tr>
               <td>{{a_tuple[0]}}</td>
               <td>{{a_tuple[1]}} {{a_tuple[2]}}</td>
               <td>{{a_tuple[3]}}</td>
               </tr>
               {% endfor %}
            </tbody>
         </table>
      </div>
      </div>
      <div class="p-2 bd-highlight" style="width: 25%; height: 100%;">
      <h4 style="text-align: center; color: black; background-color: white; border-radius: 10px;">Receptionists</h4>
      <div class="table-responsive" style="max-height: 90%; background-color:white; border: 1px solid black; border-radius: 10px;">
      <table class="table table-borderless">
      <thead style="position: sticky; top: 0; background-color: #ffff;">
      <tr>
      <th scope="col" style="background-color:#62d2a241;">Receptionist ID</th>
      <th scope="col" style="background-color:#62d2a241;">Name</th>
      </tr>
      </thead>
      <tbody>
      {%for a_tuple in recepids%}      
      <tr>
      <td>{{a_tuple[0]}}</td>
      <td>{{a_tuple[1]}} {{a_tuple[2]}}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
      </div>
      </div>
      <div class="p-2 bd-highlight" style="width: 23%; height: 100%;">
      <h4 style="text-align: center; color: black; background-color: white; border-radius: 10px;">Admins</h4>
      <div class="table-responsive" style="max-height: 90%;  background-color:white; border: 1px solid black;  border-radius: 10px;">
      <table class="table table-borderless ">
      <thead style="position: sticky; top: 0; background-color: #ffff;">
      <tr>
      <th scope="col" style="background-color:#62d2a241;" >Admin ID</th>
      <th scope="col" style="background-color:#62d2a241;">Name</th>
      </tr>
      </thead>
      <tbody>
      {%for a_tuple in adminids%}
      <tr>
      <td>{{a_tuple[0]}}</td>
      <td>{{a_tuple[1]}} {{a_tuple[2]}}</td>
      </tr>
      {% endfor %}
      </tbody>
      </table>
      </div>
      </div>
      </div>
      </div> -->
      </div>
      <!-- DOCTORS -->
      <div class="modal fade" id="addDoc-modal" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Add Doctor
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" onchange onpropertychange onkeyuponpaste oninput="doctorcheck()" name="docID" id="docID" placeholder="Doctor ID" maxlength="10">
                        </div>
                        <div class="col">
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" onchange onpropertychange onkeyuponpaste oninput="doctorcheck()"name="Fname" id="Fname" placeholder="First name" maxlength="20">
                        </div>
                        <div class="col">
                           <input type="text" class="form-control" onchange onpropertychange onkeyuponpaste oninput="doctorcheck()"name="Lname" id="Lname"placeholder="Last name" maxlength="20">
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" onchange onpropertychange onkeyuponpaste oninput="doctorcheck()"name="spec" id="spec" placeholder="Specialization" maxlength="20">
                        </div>
                        <div class="col">
                           <input type="int" class="form-control" onchange onpropertychange onkeyuponpaste oninput="doctorcheck()"id="inputExp" placeholder="Experience" max="100">
                        </div>
                     </div>
                     <br>
                     <div class="form-row">
                        <div class="col">
                           <input type="text" class="form-control" onchange onpropertychange onkeyuponpaste oninput="doctorcheck()"id="inputEdu" placeholder="Education" maxlength="40">
                        </div>
                        <div class="col">
                           <select class="form-select" onchange onpropertychange onkeyuponpaste oninput="doctorcheck()" id="inputGender">
                              <option hidden value="Gender">Gender</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                           </select>
                        </div>
                     </div>
                     <br>
                     <div style="text-align: center;">
                        <button type="button" class="btn form-check-for-button"
                           data-toggle="modal" 
                           data-dismiss="modal"
                           name="addDocbutton"
                           id="addDocbutton"
                           data-target="#confirm-modal">Add</button>
                        <button type="button" class="btn form-check-clear-button"
                           name="clearDetails"
                           id="clearDetails">Clear</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="confirm-modal" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Confirm adding new doctor
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body-confirm modal-body">
                  <div id="confirm-modal-body-id-wrapper">
                  </div>
                  <br>
                  <button type="button" class="btn form-check-for-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="confirm"
                     id="confirm">Confirm</button>
                  <button type="button" class="form-check-clear-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="cancel"
                     id="cancel">Cancel</button>
               </div>
               <br>                   
            </div>
         </div>
      </div>
      <div class="modal fade" id="updateDoc-modal" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Update Doctor
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form>
                     <div class="row">
                        <div class="col">
                           <select name="docID" id="docID1" class="form-select form-select-lg mb-3">
                              <option selected disabled value="">Choose a Doctor ID</option>
                              {%for a_tuple in docids%}
                              <option value="{{a_tuple[0]}}">{{a_tuple[0]}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" name="Fname" id="Fname1" placeholder="First name" maxlength="20">
                        </div>
                        <div class="col">
                           <input type="text" class="form-control" name="Lname" id="Lname1"placeholder="Last name" maxlength="20">
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" name="spec" id="spec1" placeholder="Specialization" maxlength="20">
                        </div>
                        <div class="col">
                           <input type="int" class="form-control" id="inputExp1" placeholder="Experience" max="100">
                        </div>
                     </div>
                     <br>
                     <div class="form-row">
                        <div class="col">
                           <input type="text" class="form-control" id="inputEdu1" placeholder="Education" maxlength="40">
                        </div>
                        <div class="col">
                           <select class="form-select" id="inputGender1">
                              <option hidden value="Gender">Gender</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                              <option value="Others">Others</option>
                           </select>
                        </div>
                     </div>
                     <br>
                     <div style="text-align: center;">
                        <button type="button" class="btn form-check-for-button"
                           data-toggle="modal" 
                           data-dismiss="modal"
                           name="updateDocbutton"
                           id="updateDocbutton"
                           data-target="#confirm-modal1">Update</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="confirm-modal1" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Confirm updating doctor
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body-confirm modal-body">
                  <div id="confirm-modal-body-id-wrapper1">
                  </div>
                  <br>
                  <button type="button" class="btn form-check-for-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="confirm"
                     id="confirm1">Confirm</button>
                  <button type="button" class="form-check-clear-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="cancel"
                     id="cancel1">Cancel</button>
               </div>
               <br>                   
            </div>
         </div>
      </div>
      <div class="modal fade" id="deleteDoc-modal" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Delete Doctor
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form>
                     <div class="row">
                        <div class="col">
                           <select name="docID" id="docID2" class="form-select form-select-lg mb-3">
                              <option selected disabled value="">Choose a Doctor ID</option>
                              {%for a_tuple in docids%}
                              <option value="{{a_tuple[0]}}">{{a_tuple[0]}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" name="Fname" id="Fname2" placeholder="First name" disabled>
                        </div>
                        <div class="col">
                           <input type="text" class="form-control" name="Lname" id="Lname2"placeholder="Last name" disabled>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" name="spec" id="spec2" placeholder="Specialization" disabled>
                        </div>
                        <div class="col">
                           <input type="text" class="form-control" id="inputExp2" placeholder="Experience" disabled>
                        </div>
                     </div>
                     <br>
                     <div class="form-row">
                        <div class="col">
                           <input type="text" class="form-control" id="inputEdu2" placeholder="Education" disabled>
                        </div>
                        <div class="col">
                           <select class="form-select" id="inputGender2" disabled>
                              <option hidden value="Gender">Gender</option>
                              <option value="Male">Male</option>
                              <option value="Female">Female</option>
                              <option value="Others">Others</option>
                           </select>
                        </div>
                     </div>
                     <br>
                     <div style="text-align: center;">
                        <button type="button" class="btn form-check-for-button"
                           data-toggle="modal" 
                           data-dismiss="modal"
                           name="deleteDocbutton"
                           id="deleteDocbutton"
                           data-target="#confirm-modal2">Delete</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="confirm-modal2" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Confirm deleting doctor
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body-confirm modal-body">
                  <div id="confirm-modal-body-id-wrapper2">
                  </div>
                  <br>
                  <button type="button" class="btn form-check-for-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="confirm"
                     id="confirm2">Confirm</button>
                  <button type="button" class="form-check-clear-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="cancel"
                     id="cancel2">Cancel</button>
               </div>
               <br>                   
            </div>
         </div>
      </div>
      <!-- Change password -->
      <div class="modal fade" id="pwd-modal" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Change Password
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <form>
                  <div class="form-group">
                     <label for="Currentpassword">Current Password</label>
                     <input type="password" class="form-control" id="Currentpassword" onchange onpropertychange onkeyuponpaste oninput="detailscheck()" placeholder="Enter your current password">
                  </div>
                  <div class="form-group">
                     <label for="Newpassword">New Password</label>
                     <input type="password" class="form-control" id="Newpassword" onchange onpropertychange onkeyuponpaste oninput="detailscheck()" placeholder="Enter new password">
                  </div>
                  <div class="form-group">
                     <label for="Confirmpassword">Confirm Password</label>
                     <input type="password" class="form-control" id="Confirmpassword" onchange onpropertychange onkeyuponpaste oninput="detailscheck()" placeholder="Re-enter Password">
                  </div>
                  <div class="form-group" style="text-align: center;">
                     <button class="btn form-check-apply-button" name="update_at_credentials" id="update_at_credentials" >Update</button>
                  </div>
                  <div id="form-group-wrapper-credentials" style="text-align: center;">
                  </div>
               </form>
            </div>
         </div>
      </div>
      <!-- Receptionist -->
      <div class="modal fade" id="addRecep-modal" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Add Receptionist
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" onchange onpropertychange onkeyuponpaste oninput="recepcheck()"  name="RecepID" id="RecepID" placeholder="Receptionist ID" maxlength="10">
                        </div>
                        <div class="col">
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" onchange onpropertychange onkeyuponpaste oninput="recepcheck()" name="Fname" id="RecepFname" placeholder="First name" maxlength="20">
                        </div>
                        <div class="col">
                           <input type="text" class="form-control" onchange onpropertychange onkeyuponpaste oninput="recepcheck()" name="Lname" id="RecepLname"placeholder="Last name" maxlength="20">
                        </div>
                     </div>
                     <br>
                     <div style="text-align: center;">
                        <button type="button" class="btn form-check-for-button"
                           data-toggle="modal" 
                           data-dismiss="modal"
                           name="addRecepbutton"
                           id="addRecepbutton"
                           data-target="#Recep-confirm-modal">Add</button>
                        <button type="button" class="btn form-check-clear-button"
                           name="clearDetailsRecep"
                           id="clearDetailsRecep">Clear</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="Recep-confirm-modal" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Confirm adding new receptionist
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body-confirm modal-body">
                  <div id="Recep-confirm-modal-body-id-wrapper">
                  </div>
                  <br>
                  <button type="button" class="btn form-check-for-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="confirm"
                     id="Recepconfirm">Confirm</button>
                  <button type="button" class="form-check-clear-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="cancel"
                     id="cancel">Cancel</button>
               </div>
               <br>                   
            </div>
         </div>
      </div>
      <div class="modal fade" id="deleteRecep-modal" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Delete Receptionist
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body">
                  <form>
                     <div class="row">
                        <div class="col">
                           <select name="RecepID" id="RecepID2" class="form-select form-select-lg mb-3">
                              <option selected disabled value="">Choose a Receptionist ID</option>
                              {%for a_tuple in recepids%}
                              <option value="{{a_tuple[0]}}">{{a_tuple[0]}}</option>
                              {% endfor %}
                           </select>
                        </div>
                     </div>
                     <br>
                     <div class="row">
                        <div class="col">
                           <input type="text" class="form-control" name="RecepFname" id="RecepFname2" placeholder="First name" disabled>
                        </div>
                        <div class="col">
                           <input type="text" class="form-control" name="RecepLname" id="RecepLname2"placeholder="Last name" disabled>
                        </div>
                     </div>
                     <br>
                     <div style="text-align: center;">
                        <button type="button" class="btn form-check-for-button"
                           data-toggle="modal" 
                           data-dismiss="modal"
                           name="deleteRecepbutton"
                           id="deleteRecepbutton"
                           data-target="#Recep-confirm-modal2">Delete</button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
      <div class="modal fade" id="Recep-confirm-modal2" data-backdrop="static" data-bs-keyboard="false">
         <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
               <div class="modal-header">
                  <h5 class="modal-title" id="modal_title">
                     Confirm deleting Receptionist
                  </h5>
                  <button type="button" 
                     class="close" 
                     data-dismiss="modal" 
                     aria-label="Close"
                     id="modalClose">
                  <span aria-hidden="true">
                  x</span>
                  </button>
               </div>
               <div class="modal-body-confirm modal-body">
                  <div id="Recep-confirm-modal-body-id-wrapper2">
                  </div>
                  <br>
                  <button type="button" class="btn form-check-for-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="confirm"
                     id="Recepconfirm2">Confirm</button>
                  <button type="button" class="form-check-clear-button"
                     data-toggle="modal" 
                     data-dismiss="modal"
                     name="cancel"
                     id="cancel2">Cancel</button>
               </div>
               <br>                   
            </div>
         </div>
      </div>
      <!-- Testing end -->
      <!-- jQery -->
      <script type="text/javascript" src="static/js/jquery-3.4.1.min.js"></script>
      <!-- <script src="{{ url_for('static', filename='jquery.js') }}"></script> -->
      <!-- popper js -->
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <!-- bootstrap js -->
      <script type="text/javascript" src="static/js/bootstrap.js"></script>
      </script>
      <!-- moment js -->
      <script type="text/javascript" src="static/js/moment.min.js"></script>
      <!-- Date Picker -->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/litepicker/2.0.11/litepicker.js"></script>
      <script>
         $(function(){
             let datePicker = document.getElementById('datePicker');
             let picker = new Litepicker({
                 element: datePicker,
                 format: 'YYYY-MM-DD',
                 minDate:moment().format('YYYY-MM-DD'),
                 maxDate:moment().add(14, 'day').format('YYYY-MM-DD'),
                 lockDaysFilter: (day) => {//to not include Sundays
                   const d = day.getDay();
                   return [0].includes(d);
                 } 
                 //inlineMode:true
                 
             });
         });
      </script>
      <!-- custom js -->
      <script type="text/javascript" src="static/js/custom.js"></script>
      <!-- To send data of others -->
      <script>
         function doctorcheck(){
           if($('#docID').val()==''|| $('#Fname').val()==''|| $('#Lname').val()==''|| $('#inputExp').val()==''|| $('#spec').val()==''|| $('#inputEdu').val()==''|| $('#inputGender').val()=='Gender'){
           $('#addDocbutton').prop('disabled', true);}
           else{
             
           $('#addDocbutton').prop('disabled', false);
           }
         }
         $('#addDocbutton').prop('disabled', true);
         
           var id,Fname,Lname,exp,spec,edu,gender;
           var Recepid,RecepFname,RecepLname;
         
           $("#addDocbutton").click(function(){
           id = $("#docID").val();
           Fname = $("#Fname").val();
           Lname = $("#Lname").val();
           exp=$("#inputExp").val();
           spec=$("#spec").val(); 
           edu=$("#inputEdu").val();
           gender=$("#inputGender").val();
         
           
           var wrapper = document.getElementById("confirm-modal-body-id-wrapper");
           var myHTML = '';
           myHTML += '<br><p><b>Doctor ID</b>:</p>';
           myHTML += '<p>'+id+'</p>';
           
           myHTML += '<br><p><b>Doctor Name</b>:</p>';    
           myHTML += '<p>'+Fname+' '+Lname+'</p>';
         
           myHTML += '<br><p><b>Experience</b>:</p>';    
           myHTML += '<p>'+exp+'</p>';
         
           myHTML += '<br><p><b>Specialization</b>:</p>';    
           myHTML += '<p>'+spec+'</p>';
           
           myHTML += '<br><p><b>Education</b>:</p>';
           myHTML += '<p>'+edu+'</p>';
           
           myHTML += '<br><p><b>Gender</b>:</p>';
           myHTML += '<p>'+gender+'</p>';
         
           wrapper.innerHTML=myHTML
         
           
         
          });
         
          
          $("#confirm").click(function(){  
           $.ajax({
             type: "POST",
             url: "/addDoctor",
             data: {"Fname":Fname,"Lname":Lname,"id":id,"gender":gender,"exp":exp,"edu":edu,"spec":spec},
             success:function(data){
             if(data=='failed'){
                 alert('Please enter the details correctly');
               }
               else if(data=='failed1'){
                 alert('Enter a unique Doctor ID');
               }
               else if(data=='success'){
                 alert('Success');
                 location.reload();
               }
           }
           });
          });
         
         $('#docID1').on('change', function() {
             
           $.ajax({
             type: "POST",
             url: "/updateDoctor",
             data: {"id":this.value,"flag":'get'},
             success:function(data){
               $("#Fname1").val(data[0][1]);
               $("#Lname1").val(data[0][2]);
               $("#inputExp1").val(data[0][4]);
               $("#spec1").val(data[0][3]); 
               $("#inputEdu1").val(data[0][6]);
               $("#inputGender1").val(data[0][5]);
         
           }
           });
         
           });
         
         
          $("#updateDocbutton").click(function(){
           id = $("#docID1").val();
           Fname = $("#Fname1").val();
           Lname = $("#Lname1").val();
           exp=$("#inputExp1").val();
           spec=$("#spec1").val(); 
           edu=$("#inputEdu1").val();
           gender=$("#inputGender1").val();
         
           
           var wrapper = document.getElementById("confirm-modal-body-id-wrapper1");
           var myHTML = '';
           myHTML += '<br><p><b>Doctor ID</b>:</p>';
           myHTML += '<p>'+id+'</p>';
           
           myHTML += '<br><p><b>Doctor Name</b>:</p>';    
           myHTML += '<p>'+Fname+' '+Lname+'</p>';
         
           myHTML += '<br><p><b>Experience</b>:</p>';    
           myHTML += '<p>'+exp+'</p>';
         
           myHTML += '<br><p><b>Specialization</b>:</p>';    
           myHTML += '<p>'+spec+'</p>';
           
           myHTML += '<br><p><b>Education</b>:</p>';
           myHTML += '<p>'+edu+'</p>';
           
           myHTML += '<br><p><b>Gender</b>:</p>';
           myHTML += '<p>'+gender+'</p>';
         
           wrapper.innerHTML=myHTML
         
           
         
          });
         
          $("#confirm1").click(function(){  
           $.ajax({
             type: "POST",
             url: "/updateDoctor",
             data: {"Fname":Fname,"Lname":Lname,"id":id,"gender":gender,"exp":exp,"edu":edu,"spec":spec,"flag":'update'},
             success:function(data){
             if(data=='failed'){
                 alert('Please enter the details correctly');
               }
               else if(data=='success'){
                 alert('Success');
                 location.reload();
               }
           }
           });
          });
          $('#docID2').on('change', function() {
             
             $.ajax({
               type: "POST",
               url: "/deleteDoctor",
               data: {"id":this.value,"flag":'get'},
               success:function(data){
                 $("#Fname2").val(data[0][1]);
                 $("#Lname2").val(data[0][2]);
                 $("#inputExp2").val(data[0][4]);
                 $("#spec2").val(data[0][3]); 
                 $("#inputEdu2").val(data[0][6]);
                 $("#inputGender2").val(data[0][5]);
         
             }
             });
         
             });
         
         
            $("#deleteDocbutton").click(function(){
             id = $("#docID2").val();
             Fname = $("#Fname2").val();
             Lname = $("#Lname2").val();
             exp=$("#inputExp2").val();
             spec=$("#spec2").val(); 
             edu=$("#inputEdu2").val();
             gender=$("#inputGender2").val();
             
             var wrapper = document.getElementById("confirm-modal-body-id-wrapper2");
             var myHTML = '';
             myHTML += '<br><p><b>Doctor ID</b>:</p>';
             myHTML += '<p>'+id+'</p>';
             
             myHTML += '<br><p><b>Doctor Name</b>:</p>';    
             myHTML += '<p>'+Fname+' '+Lname+'</p>';
         
             myHTML += '<br><p><b>Experience</b>:</p>';    
             myHTML += '<p>'+exp+'</p>';
         
             myHTML += '<br><p><b>Specialization</b>:</p>';    
             myHTML += '<p>'+spec+'</p>';
             
             myHTML += '<br><p><b>Education</b>:</p>';
             myHTML += '<p>'+edu+'</p>';
             
             myHTML += '<br><p><b>Gender</b>:</p>';
             myHTML += '<p>'+gender+'</p>';
         
             wrapper.innerHTML=myHTML
         
             
         
            });
         
            $("#confirm2").click(function(){  
             $.ajax({
               type: "POST",
               url: "/deleteDoctor",
               data: {"Fname":Fname,"Lname":Lname,"id":id,"gender":gender,"exp":exp,"edu":edu,"spec":spec,"flag":'delete'},
               success:function(data){
               if(data=='success'){
                   alert('Success');
                 location.reload();
                 }
             }
             });
            });
         
          
          $("#clearDetails").click(function(){
           $("#docID").val('');
           $("#Fname").val('');
           $("#Lname").val('');
           $("#inputExp").val('');
           $("#spec").val(''); 
           $("#inputEdu").val('');
           $("#inputGender").val('');
           $('#addDocbutton').prop('disabled', true);
          });
         
         //Receptionists
         
         function recepcheck(){
           if($('#RecepID').val()==''|| $('#RecepFname').val()==''|| $('#RecepLname').val()==''){
           $('#addRecepbutton').prop('disabled', true);}
           else{
             
           $('#addRecepbutton').prop('disabled', false);
           }
         }
         $('#addRecepbutton').prop('disabled', true);
         
         $("#addRecepbutton").click(function(){
           Recepid = $("#RecepID").val();
           RecepFname = $("#RecepFname").val();
           RecepLname = $("#RecepLname").val();
         
           
           var wrapper = document.getElementById("Recep-confirm-modal-body-id-wrapper");
           var myHTML = '';
           myHTML += '<br><p><b>Receptionist ID</b>:</p>';
           myHTML += '<p>'+Recepid+'</p>';
           
           myHTML += '<br><p><b>Receptionist Name</b>:</p>';    
           myHTML += '<p>'+RecepFname+' '+RecepLname+'</p>';
         
           wrapper.innerHTML=myHTML
         
           
         
          });
         
          
          $("#Recepconfirm").click(function(){  
           $.ajax({
             type: "POST",
             url: "/addReceptionist",
             data: {"Fname":RecepFname,"Lname":RecepLname,"id":Recepid},
             success:function(data){
             if(data=='failed'){
                 alert('Please enter the details correctly');
               }
               else if(data=='failed1'){
                 alert('Enter a unique Receptionist ID');
               }
               else if(data=='success'){
                 alert('Success');
                 location.reload();
               }
           }
           });
          });
         
         
          $('#RecepID2').on('change', function() {
             
             $.ajax({
               type: "POST",
               url: "/deleteReceptionist",
               data: {"id":this.value,"flag":'get'},
               success:function(data){
                 $("#RecepFname2").val(data[0][1]);
                 $("#RecepLname2").val(data[0][2]);
         
             }
             });
         
             });
         
         
            $("#deleteRecepbutton").click(function(){
             Recepid = $("#RecepID2").val();
             RecepFname = $("#RecepFname2").val();
             RecepLname = $("#RecepLname2").val();
             
             var wrapper = document.getElementById("Recep-confirm-modal-body-id-wrapper2");
             var myHTML = '';
             myHTML += '<br><p><b>Receptionist ID</b>:</p>';
             myHTML += '<p>'+Recepid+'</p>';
             
             myHTML += '<br><p><b>Receptionist Name</b>:</p>';    
             myHTML += '<p>'+RecepFname+' '+RecepLname+'</p>';
         
             wrapper.innerHTML=myHTML
         
             
         
            });
         
            $("#Recepconfirm2").click(function(){  
             $.ajax({
               type: "POST",
               url: "/deleteReceptionist",
               data: {"Fname":RecepFname,"Lname":RecepLname,"id":Recepid,"flag":'delete'},
               success:function(data){
               if(data=='success'){
                   alert('Success');
                 location.reload();
                 }
             }
             });
            });
            
          $("#clearDetailsRecep").click(function(){
           $("#RecepID").val('');
           $("#RecepFname").val('');
           $("#RecepLname").val('');
           $('#addRecepbutton').prop('disabled', true);
          });
         
          function detailscheck(){
           if($('#Confirmpassword').val().length==0|| $('#Currentpassword').val().length==0|| $('#Newpassword').val().length==0){
           $('#update_at_credentials').prop('disabled', true);}
           else{
             
           $('#update_at_credentials').prop('disabled', false);
           }
         }
         $('#update_at_credentials').prop('disabled', true);
         
         $("#update_at_credentials").click(function(){
           CurrentPassword = $("#Currentpassword").val();
           Newpassword = $("#Newpassword").val();
           Confirmpassword=$("#Confirmpassword").val();
           $.ajax({
             type: "POST",
             url: "/updateCredentials",
             data: {"CurrentPassword":CurrentPassword,"Newpassword":Newpassword,"Confirmpassword":Confirmpassword},
             success:function(data){
               if(data=='failed'){
                 alert('Entered password is incorrect');
               }
               else if(data=='failed1'){
                 alert('Passwords doesn\'t match');
               }
               else if(data=='failed2'){
                 alert('Password minimum length should be 6');
               }
               else if(data=='success'){
                 alert('Success');
               }
             }
             });
          });
         
      </script>
   </body>
</html>