<!-- <link href="static/css/footer.css" rel="stylesheet" /> -->
<!-- footer section -->
<footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 footer_col">
          <div class="footer_contact">
            <h4>
              Reach at..
            </h4>
            <div class="contact_link_box">
              <a href="https://goo.gl/maps/ynmcXzyhzYbKVZVn7">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </span>
              </a>
              <a href="tel:91123456789">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call +91 1234567890
                </span>
              </a>
              <a href="mailto:NovaClinic108@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  NovaClinic108@gmail.com
                </span>
              </a>
            </div>
          </div>
          <!-- <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div> -->
        </div>
        <div class="col-sm-4 footer_col">
          <div class="footer_detail">
            <h4>
              About
            </h4>
            <p>
              We strive to provide you with the best health care service together with world class trained doctors equipped with best in class infrastructure, The result is care that becomes more efficient, more personalised and ultimately more human.
            </p>
          </div>
        </div>
        <div class="col-sm-4 footer_col">
          <div class="footer_link_box">
            <h4>
              Links
            </h4>
            <div class="footer_links">
              <a class="active" href="home">
                Home
              </a>
              <a class="" href="appointment">
                Appointment
              </a>
            </div>
          </div>
        </div>
    </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span>  Nova Clinic Enterprise Ltd. All Rights Reserved.
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->