{% extends "homebut.html" %} {% block title %}Our Specializations{% endblock %}
<block>
<section class="department_section layout_padding">
    <div class="department_container">
      <div class="container ">
        <div class="heading_container heading_center">
          <h2>
            Our Specilizations
          </h2>
          <p>
            We specialize in the following departments.
          </p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/s1.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Cardiology
                </h5>
                <p>
                  Your health is our concern.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/den.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Dentist
                </h5>
                <p>
                  Teething trobules? Schedule a dental checkup
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/gyn.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Gynecologist
                </h5>
                <p>
                  Explore for women's health, pregnancy and infertility traetments.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/phy.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Physiotherapist
                </h5>
                <p>
                  Pulled a muscle? Get it treated by a trained Physiotherapist
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="box ">
              <div class="img-box">
                <img src="static/images/phy.png" alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Dietitian
                </h5>
                <p>
                  Get guidance on eating right,weight management and sports nutrition.
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </section>
</block>