<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="static/images/favicon.png" type="">

  <title> Nova Clinic </title>

  <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css" />

  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <link href="static/css/font-awesome.min.css" rel="stylesheet" />

  <link href="static/css/style.css" rel="stylesheet" />

  <link href="static/css/responsive.css" rel="stylesheet" />

  <link rel="shortcut icon" href="static/images/favicon.png" type="">

</head>

<body>

  <div class="hero_area">

    <div class="hero_bg_box">
      <img src="static/images/hero-bg.png" alt="">
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <div class="container-fluid">
          <a class="navbar-brand" href="homepage">
            <span>
              Nova Clinic
            </span>
          </a>
          <!-- <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form> -->
          <div class="d-flex" >
          <a href="rlogin" style="color:white;">
            <span>
              Receptionist Portal
            </span>
          </a>
          &nbsp;&nbsp;<p style="color: white;">|</p>&nbsp;&nbsp;
          <a href="alogin" style="color:white;">
            <span>
              Admin Portal
            </span>
          </a>
        </div>
        </div>
        </nav>
      </div>
    </header>

    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Welcome to Nova Clinic Healthcare
                    </h1>
                    <p>
                      We strive to provide you with the best health care service together with world class trained doctors equipped with best in class infrastructure, The result is care that becomes more efficient, more personalised and ultimately more human.
                    </p>
                    <div class="button-cen">
                    <form method="get" action="/login">
                      <button class="form-check-signin-button" type="submit" name="book" id="book" formmethod="post">Sign In</button>
                    </form>
                   </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>
  </div>

</body>

</html>